{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block javascripts %}
    <meta id="vacatures" content="{{ all_vacatures|json_encode() }}">
    <script src="{{ asset('assets/js/homepage.js') }}"></script>
{% endblock %}
{% block main %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2">
                <div>
                <svg height="100" width="100">
                    <polygon points="25 0,75 0,100 50,75 100,25 100,0 50" fill="black"/>
                    </svg>
                    <h1 id="titel"></h1>
                    <h1 id="werkgever"></h1>
                </div>
            </div>
            <div class="cell medium-10">
                {% for vacature in most_recent %}
                    {{ vacature.titel }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}