{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block javascripts %}
    <meta id="vacatures" content="{{ all_vacatures_json }}">
    <meta id="img_path" content="{{ asset('assets/img/') }}">
    <script src="{{ asset('assets/js/homepage.js') }}"></script>
{% endblock %}
{% block main %}
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-2">
                <div>
                    <img id="platform" width="200px" heihgt="200px"/>
                    <h1 id="titel"></h1>
                    <h1 id="werkgever"></h1>
                </div>
            </div>
            <div class="cell medium-10">
                {% for vacature in most_recent %}
                    {{ vacature.titel }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}