{% extends 'base.html.twig' %}

{% block title %}Hello ProfielController!{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.richtext.min.js') }}"></script>
    <script src="{{ asset('assets/js/profieleditor.js') }}"></script>
{% endblock %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/richtext.min.css') }}">
{% endblock %}
{% block main %}
    <form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
        <h1 class="medium-12 cell">Mijn profiel</h1>
      <div class="medium-6 cell">
        <label>Voornaam
          <input type="text" placeholder=".medium-6.cell" name="voornaam">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Achternaam
          <input type="text" placeholder=".medium-6.cell" name="achternaam">
        </label>
      </div>
      <div class="medium-12 cell">
        <label>Email
          <input type="email" placeholder=".medium-6.cell" name="email">
        </label>
      </div>
      <div class="medium-4 cell">
        <label>Geboortedatum
          <input type="date" placeholder=".medium-6.cell" name="geboortedatum">
        </label>
      </div>
      <div class="medium-8 cell">
        <label>telefoonnummer
          <input type="tel" placeholder=".medium-6.cell" name="telefoonnummer">
        </label>
      </div>
      <div class="medium-12 cell">
        <label>Adres
          <input type="text" placeholder=".medium-6.cell" name="adres">
        </label>
      </div>
      <div class="medium-4 cell">
        <label>Postcode
          <input type="text" placeholder=".medium-6.cell" name="postcode">
        </label>
      </div>
      <div class="medium-8 cell">
        <label>Woonplaats
          <input type="text" placeholder=".medium-6.cell" name="woonplaats">
        </label>
      </div>
      <h1 class="medium-12 cell">Motivatie</h1>
      <textarea class="medium-12 cell"></textarea>
    </div>
  </div>
    </form>
{% endblock %}