html,body
{
    height:100%;
    width:100%;
}
.header,.footer
{
    background-color: #2a2e30;
    color: white;
    height: 100px;
}
.header div,.footer div
{
    height:100%;
}
.mainDiv
{
    height: calc(100% - 200px);
}
.logo img
{
    height:100%;
}
.footer p
{
    margin-bottom: 0px;
    height:20px;
}
.footer h1
{
    height:calc(100% - 20px);
    margin-bottom: 0px;
}
.smallmenubuttons span
{
    float:right;
    font-size: 60px;
    margin:10px;
}
.footer .logo img
{
    float:right;
}