
  <div class="grid-container nieuweSolicitatie" id="sol_form">
      <input type="submit" value="x" onclick="$('#sol_form').hide();">
 <form method="POST">
    <div class="grid-x grid-padding-x">
      <div class="medium-12 cell">
        <label>Motivatie
            <textarea name="motivatie">
            </textarea>
        </label>
      </div>
      <div class="medium-12 cell">
          <input type="submit" name="submit" value="Save">
      </div>
    </div>
     <input type="hidden" name="token" value="{{ csrf_token('nieuwe_solicitatie') }}"/>
</form>
  </div>